@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal
}
:root {
  --color-orange: #cc9933;
  --color-white: #ffffff;
  --color-grey3: #333333;
  --color-grey6: #666666;
  --color-grey96: #969696;
  --color-grey9: #999999;
  --color-bg: #f1f1f1;
  --color-grey-be: #bebebe;
  --color-grey-ab: #ababab;
  --color-grey-c: #cccccc;
  --ccolor-darkorange: #856321;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muller';
  background-color: var(--color-bg)
}

section {
  margin-top: 50px;
}
.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.section-name {
  margin-top: 0px;
  padding-left: 43px;
  font-weight: 500;
  font-size: 40px;
  color: var(--color-grey3);
}

.section-services-list,
.advantages-list,
.placement-list  {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.services-list-item,
.advantages-list-item,
.placement-list-item {
  border-radius: 12px;
  background-color: var(--color-white);
  overflow: hidden;
}

.orange-button {
  padding: 25px 28px;
  border: 1px solid transparent;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-orange);
  cursor: pointer;
  transition: color, background-color, border, font-size 500ms linear;
}

.orange-button:hover {
  border: 1px solid var(--color-orange);
  font-size: 18px;
  background-color: var(--color-white);
  color: var(--color-orange);
  transform: scale(1.1);
}

.white-button {
  padding: 15px 20px;
  border: 1px solid var(--color-orange);
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  color: var(--color-orange);
  text-align: center;
  background-color: var(--color-white);
  cursor: pointer;
  transition: color, background-color, font-size 500ms linear;
}

.white-button:hover {
  font-size: 18px;
  background-color: var(--color-orange);
  color: var(--color-white);
  transform: scale(1.1);
}

/* Header */
header {
  height: 185px;
}
.header-container {
  height: 100%;
  padding-top: 30px;
}

.header-first-line,
.header-second-line {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-first-line {
  height: 85px;
}

.header-second-line {
  height: 70px;
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: var(--color-white);
}

.logo {
  margin-right: auto;
}

.logo-img {
  width: 262px;
  height: 55px;
}

.header-phone {
  margin-right: 560px;
  font-weight: bold;
  font-size: 22px;
  color: var(--color-grey6);
}

.personal-account-link {
  padding: 10px;
  padding-left: 26px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-image: url('../img/keyboard-tab.png');
  background-size: 21px;
  background-repeat: no-repeat;
  background-position-y: 11px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-orange);
  transition: background-color, border 400ms ease-in-out;
}

.personal-account-link:hover {
  border: 1px solid var(--color-orange);
  background-color: var(--color-white);
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 770px;
  padding-left: 20px;
}

.nav-item {
  margin: 5px 35px 5px 0px;
}

.nav-link {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--color-white);
  color: var(--color-grey3);
  transition: color, background-color 400ms ease-in-out;
}

.nav-link:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.header-search-form {
  display: flex;
  margin-right: 40px;
}

.header-search {
  margin: auto;
  padding-right: 170px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: var(--color-grey-be);
}

.header-search-button {
  min-width: 25px;
  border: 1px solid transparent;
  background-color: var(--color-white);
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-size: contain;
}

/*Reservations and offers*/
.reservations-and-offers-container {
  display: flex;
  min-height: 550px;
}
.booking  {
  margin-right: 55px;
  min-width: 520px;
}
.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 540px;
}

.booking-form-input {
  height: 70px;
  width: 518px;
  margin-bottom: 23px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-grey9);
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: var(--color-white);
}

.booking-button-and-offers-description {
  display: flex;
  align-items: center;
}

.booking-orange-button {
  margin-top: 10px;
  margin-right: 30px;
  min-width: 159px;
  min-height: 70px;
}

.booking-all-offers-link-description {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-grey9);
}

.booking-all-offers-link {
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 7px;
  color: var(--color-orange);
  transition:  color, border 400ms ease-in-out;
}

.booking-all-offers-link:hover {
  border: 1px solid var(--color-orange);
  color: var(--color-grey9);
}

.special-offers {
  min-width: 600px;
}

.special-offers-description-pic {
  height: 540px;
  width: 595px;
  border-radius: 12px;
  background-image: url('../img/special-offers.jpeg');
  background-size: contain;
}

.special-offers-description {
  padding-left: 45px;
  padding-top: 170px;
}

.special-offers-description-title {
  width: 334px;
  height: 166px;
  font-weight: bold;
  font-size: 66px;
  color: var(--color-white);
}

.special-offers-price {
  display: inline;
  margin-right: 40px;
  font-weight: 500;
  font-size: 35px;
  color: var(--color-grey9);
}

.special-offers-link {
  padding-right: 15px;
  font-weight: 500;
  font-size: 16px;
  background-image: url('../img/spetial-offers-arrow.png');
  background-position: right;
  background-repeat: no-repeat;
  color: var(--color-orange);
  transition:  color, background-image, 400ms ease-in-out;
}

.special-offers-link:hover {
  background-image: url('../img/all-options-arrow.png');
  color: var(--color-white);
}

/*Abou us*/
.about-us {
  min-height: 235px;
  margin-top: 70px;
}

.about-us-content {
  max-width: 885px;
  padding-left: 43px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey6);
}

/*Services*/
.services {
  margin-top: 70px;
}

.services-list-item {
  max-width: 572px;
  min-height: 325px;
  margin-bottom: 20px;
}

.services-list-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-list-descriptions {
  margin: 30px 100px 40px 40px;
}

.services-list-descriptions-link {
  padding-right: 20px;
  font-weight: 600;
  font-size: 22px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-image: url('../img/service-arrow.png');
  background-position: right;
  background-repeat: no-repeat;
  color: var(--color-orange);
  transition:  padding, color, background-image, border 400ms ease-in-out;
}

.services-list-descriptions-link:hover {
  padding: 7px 20px 7px 7px;
  border: 1px solid transparent;
  background-color: var(--color-orange);
  background-image: url('../img/all-options-arrow.png');
  color: var(--color-white);
}

.services-list-description-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey3);
}

/*Advantages*/
.advantages-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 275px;
  min-height: 275px;
  margin-bottom: 20px;
  padding: 35px 45px 20px 45px
}

.advantages-list-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantages-list-description  {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey3);
}

.advantages-list-item-pic {
  height: 60px;
}

.advantages-list-item-pic1,
.advantages-list-item-pic2,
.advantages-list-item-pic3,
.advantages-list-item-pic4,
.advantages-list-item-pic5,
.advantages-list-item-pic6,
.advantages-list-item-pic7,
.advantages-list-item-pic8 {
  background-position: left;
  background-repeat: no-repeat;
}

.advantages-list-item-pic1  {
  background-image: url('../img/advantages1.svg');
}
.advantages-list-item-pic2  {
  background-image: url('../img/advantages2.svg');
}
.advantages-list-item-pic3  {
  background-image: url('../img/advantages3.svg');
}
.advantages-list-item-pic4  {
  background-image: url('../img/advantages4.svg');
}
.advantages-list-item-pic5  {
  background-image: url('../img/advantages5.svg');
}
.advantages-list-item-pic6  {
  background-image: url('../img/advantages6.svg');
}
.advantages-list-item-pic7  {
  background-image: url('../img/advantages7.svg');
}
.advantages-list-item-pic8  {
  background-image: url('../img/advantages8.svg');
}

/*Placement*/
.placement-list-item-pic {
  height: 215px;
}

.placement-list-item {
  max-width: 375px;
  min-height: 440px;
  margin-bottom: 20px;
}

.placement-list-item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.placement-list-price-rating {
  display: flex;
  align-items: center;
}

.placement-list-item-description {
  padding: 15px 45px 42px 40px
}

.placement-list-item-price {
  margin-right: auto;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-grey3);
}

.placement-list-first-word {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-grey96);
}

.placement-list-price{
  font-weight: bold;
  font-size: 20px;
  color: var(--color-grey3);
}

.placement-list-item-hotelname {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-grey3);
}

.placement-list-item-location {
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-grey96);
}

.placement-list-item-last {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 375px;
  height: 440px;
  margin-bottom: 20px;
  background-image: url('../img/placement9.jpeg');
  background-size: cover;
}

.placement-alloptions-link {
  margin-left: 40px;
  margin-bottom: 50px;
  padding-right: 20px;
  font-weight: 600;
  font-size: 22px;
  background-image: url('../img/all-options-arrow.png');
  background-position: right;
  background-repeat: no-repeat;
  color: var(--color-white);
  transition:  color, background-image 400ms ease-in-out;
}

.placement-alloptions-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.placement-alloptions-link:hover {
  background-image: url('../img/spetial-offers-arrow.png');
  color: var(--color-orange);
}

/*Contacts*/
.contacts-container {
  display: flex;
  flex-direction: row;
  max-height: 619px;
  padding: 40px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: var(--color-white);
}

.contacts-list {
  display: flex;
  flex-direction: column;
  margin-right: 65px;
}

.contacts-list-item:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-c);
}

.contacts-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 390px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.contacts-list-item-placement-first {
  margin-top: 0px;
  padding-top: 0;
}

.contacts-list-item-title{
  margin-top: 0px;
  font-weight: bold;
  font-size: 22px;
  color: var(--color-grey6);
}

.contacts-list-item-description {
  max-width: 230px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey3);
}

.contacts-list-item-description-phone {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 75px;
}

.contacts-list-item-description-mail {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey-ab);
}

.contacts-list-item-link {
  border-bottom: 2px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-orange);
  transition:  color, border-bottom 400ms ease-in-out;
}

.contacts-list-item-link:hover{
  border-bottom: 2px solid var(--color-grey6);
  color: var(--color-grey6);
}

.contacts-white-button {
  min-height: 70px;
  min-width: 215px;
  margin-top: 25px;
}

.contacts-form-grouping {
  display: flex;
  flex-direction: column;
  padding: 0px;
  border: 1px solid transparent;
}

.contacts-form-name {
  font-weight: 500;
  font-size: 40px;
  color: var(--color-grey3);
}

.contacts-form-input-display {
  display: flex;
  flex-direction: row;
}

.contacts-form-input {
  width: 300px;
  height: 70px;
  margin-right: 20px;
}

.contacts-form-textarea {
  width: 620px;
  height: 220px;
  margin-top: 25px;
  margin-bottom: 30px;
  direction: unset;
}

.contacts-form-input,
.contacts-form-textarea {
  padding: 20px 25px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: var(--color-bg);
  color: var(--color-grey9);
}

.privacy-policy-agreement {
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-grey9);
}

.privacy-policy {
  border-bottom: 2px solid transparent;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-orange);
  transition:  color, border-bottom 400ms ease-in-out;
}

.privacy-policy:hover {
  border-bottom: 2px solid var(--color-grey6);
  color: var(--color-grey6);
}

.contacts-orange-button {
  width: 340px;
  min-height: 70px;
  margin-top: 40px;
}

/*Footer*/
.footer-container {
  display: flex;
  justify-content: space-between;
  height: 340px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 55px 45px 40px 40px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: var(--color-grey3);
  background-image: url('../img/sun.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 740px;
}

.footer-list{
  display: flex;
  justify-content: space-between;
  min-width: 800px;
}

.footer-list-item-first-column {
  max-width: 310px;
}

.footer-list-item-second-column {
  max-width: 360px;
}
.footer-mail-display,
.footer-phone-display {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 25px;
}

.footer-phone-links,
.footer-mail-links,
.user-agreement {
  margin-top: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-orange);
  transition:  color, 400ms ease-in-out;
}

.footer-phone-links:hover {
  color: var(--color-white);
}
.footer-mail-links:hover {
  color: var(--color-white);
}
.user-agreement:hover {
  color: var(--color-white);
}

.footer-text {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: var(--color-white)
}

.footer-list-item-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 210px;
}

.footer-list-item-sotial-round {
  height: 30px;
  width: 30px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: transparent;
  transition:  background-color 400ms ease-in-out;
}

.footer-list-item-sotial-round:hover {
  background-color: var(--ccolor-darkorange);
}

.footer-list-itemd-social-network-link {
  width: 30px;
  height: 100%;
}
